body{
    display: grid;
    background-color: grey;
    justify-content: center;
}
.conteiner{
    width: 400px;
}
button {
    display: inline-block;
    padding: 12px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 22px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
  }
.num{
    text-align: center;
    display: inline-block;
    padding: 12px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}