body{
    display: grid;
    background-color: grey;
    justify-content: center;
}
.conteiner{
    display: grid;
}
.button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 0px;
    justify-items: center;
}
.but{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
}
.num{
    text-align: center;
    padding: 12px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.calk{
    font-size: 20px;
    height: 35px;
    cursor: pointer;
    font-family: Tahoma;
}
.answer{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    height: 35px;
    cursor: pointer;
    font-family: Tahoma;
    background-color: azure;
}

button:active {
    border-color: red;
   }
